*{
	font-size:18px;
}

.logo img{
	margin:15px 0 20px 40%;
}

input[type="text"], input[type="password"], input[type="submit"]{
	width:100%;
	height: 28px;
}

input[type="submit"]{
	background-color:#0f0;
	color: #fff;
}

input[type="reset"]{
	margin-left: 15px;
	background-color:#f00;
	color:#fff;
}

.forgot{
	position:absolute;
	right:45px;
}

.footer{
	background-color:#ddd;
	width:100%;
	min-height:12vh;
}