tr:nth-child(even){
	background-color: #eee;
}

.footer{
	border-top: 1px solid #999;
}

table{
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	border-collapse: collapse;
}

td:nth-child(2),  td:nth-child(3){
	text-align: right; 
}

th:nth-child(2),  th:nth-child(3) {
	text-align: right;
}

th:nth-child(1),  th:nth-child(4) {
	text-align: left;
}

th, td{
	padding: 0.3em;
	text-align: top;
}